experiments/wrsn2/checkpoints/checkpoint
experiments/wrsn2/checkpoints/model.data-00000-of-00001
experiments/wrsn2/checkpoints/model.index
experiments/wrsn2/checkpoints/model.meta
experiments/wrsn2/summaries_q/events.out.tfevents.1555771932.cncl-fyp11u
